<div class="container-container-quienes">
    <div class="quienes-title">Quiénes forman parte de ArtCoolT</div>
    <div class="quienes-sub">Aquí encontrarás quiénes son Usuario o Artistas!</div>

    <div class="quienes-container">
    

  
    <div class="quienes-wrapper">

    {{#each users }}
    <div class="ficha-artist-container">
        <div class="folder-back">
            {{this.coverimg}}
        </div>
        <div class="folder-profile">
            <img src="{{this.profileimg}}" class="d-block w-100" alt="...">
        </div>
        <div class="folder-name">
            {{this.name}}
        </div>
        <div class="folder-bio">
            {{this.bio}}
        </div>
        <div class="folder-botton">
            <a href="/users/{{this.id}}">Ver Perfil</a>
        </div>
    </div>
{{/each}}
    </div>
  




  




  </div>

</div>

