<div class="wrapper-login">
  <div class="form-container-signup">

    <div class="title-signin">
      SIGN IN
    </div>


    {{#if user}}
    <form action="/users/new" method="POST" enctype="multipart/form-data">
      {{/if}}


{{!-- Comienzo de primer bloque --}}

<div class="bloque-signup">

      {{#if artist}}
      <form action="/artists" method="POST">
        {{/if}}
        <div class="form-group">
          {{!-- <label for="name">Name</label> --}}
          <input name="name" type="text" class="form-control-sign {{#if error.name }}is-invalid{{/if}}" id="name"
            placeholder="Enter name" value="{{ user.name }}">

          {{#if error.name}}
          <div class="invalid-feedback">
            {{error.name.message}}
          </div>
          {{/if}}
        </div>

        <div class="form-group">
          {{!-- <label for="username">Username</label> --}}
          <input name="username" type="text" class="form-control-sign {{#if error.username }}is-invalid{{/if}}"
            id="username" placeholder="Enter username" value="{{ user.username }}">

          {{#if error.username}}
          <div class="invalid-feedback">
            {{error.username.message}}
          </div>
          {{/if}}
        </div>

        <div class="form-group">
          {{!-- <label for="email">Email</label> --}}
          <input name="email" type="email" class="form-control-sign {{#if error.email }}is-invalid{{/if}}" id="email"
            placeholder="Enter email" value="{{ user.email }}">

          {{#if error.email}}
          <div class="invalid-feedback">
            {{error.email.message}}
          </div>
          {{/if}}
        </div>


        <div class="form-group">
          {{!-- <label for="password">Password</label> --}}
          <input name="password" type="password" class="form-control-sign {{#if error.password }}is-invalid{{/if}}"
            id="password" placeholder="Enter password" value="{{ user.password }}">

          {{#if error.password}}
          <div class="invalid-feedback">
            {{error.password.message}}
          </div>
          {{/if}}
        </div>


        <div class="form-group">
          {{!-- <label for="bio">Bio</label> --}}
          <textarea name="bio" type="text" class="form-control-sign {{#if error.bio }}is-invalid{{/if}}" id="bio"
            placeholder="Enter bio" value="{{ user.bio }}" rows="4"></textarea>

          {{#if error.bio}}
          <div class="invalid-feedback">
            {{error.bio.message}}
          </div>
          {{/if}}
        </div>

</div>
        {{!-- Fin de 1er Bloque --}}

<div class="bloque-signup">

        <div class="form-group">
          <label for="profileimg">Profile Image</label>
          <input name="profileimg" type="file" class="form-control-sign-file {{#if error.profileimg }}is-invalid{{/if}}"
            id="profileimg">

          {{#if error.profileimg}}
          <div class="invalid-feedback">
            {{error.profileimg.message}}
          </div>
          {{/if}}
        </div>

        <label class="genres" for="profileimg" size="3">User / Artist</label>
        <select name="usertype" multiple>
          <option value="usuario">Usuario</option>
          <option value="artista">Artista</option>
        </select>

        <label class="genres" for="profileimg">Genres</label>
        <select multiple name="categories" size="3">
          <option value="blues">Blues</option>
          <option value="cumbia">Cumbia</option>
          <option value="electronica">Electrónica</option>
          <option value="flamenco">Flamenco</option>
          <option value="folk">Folk</option>
          <option value="funk">Funk</option>
          <option value="hemavy">Heavy-Metal</option>
          <option value="rap">Hip-Hop/Rap</option>
          <option value="indie">Indie</option>
          <option value="jazz">Jazz</option>
          <option value="pop">Pop</option>
          <option value="punk">Punk</option>
          <option value="reggae">Reggae</option>
          <option value="rock">Rock</option>
        </select>   

</div>

        <button class="signin-new" type="submit" class="btn btn-primary">
          Sign up
        </button>
        
      </form>

      <div class="logo-signin">
        <img src="../images/logo-artcoolt-login-pink.png">
      </div>

  </div>
</div>