<div class="container-artist">
    <input class="list-search" type="text" placeholder="Search..">
</div>



<div class="container-categories-list">
    {{#each categories as |category|}}
        <div class="contenedor">
            <ul>
                {{>categoriesList category}}
            </ul>
        </div>
    {{/each}}
</div>


<div class="container-artist-list">

{{#each artists as |artist| }}
    <div class="ficha-artist-container">
        <div class="folder-back">
            {{artist.coverimg}}
        </div>
        <div class="folder-profile">
            <img src="{{artist.profileimg}}" >
        </div>
        <div class="folder-name">
            {{artist.name}}
        </div>
        <div class="folder-bio">
            {{artist.bio}}
        </div>
        <div class="folder-botton">
            <a href="/users/{{artist.id}}">Ver Perfil</a>
        </div>
    </div>
{{/each}}

</div>